<head>
	<title>Evia</title>
	<link rel="icon" href="../favicon.ico" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}" >
	<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style_links.css' %}" />
</head>
<body>
<img src="{% static 'images/eviacyberneticsalign.png' %}" width="200px"/>
<h1>Options avanc&eacute;es</h1>
<div class="evia">
<p>Base de donn&eacute;es SQL </p>
<p style="text-align: center;">
	<div>	
	<form action="#" method="get">
		<i class="fa fa-search fa-border" aria-hidden="true"></i> 
		<input type="submit" class="btn" value="Check the database" name="check_db"> V&eacute;rifier la base de donn&eacute;es
	</form>
	</div>
	<div>	
	<form action="#" method="get">
		<i class="fa fa-shower fa-border" aria-hidden="true"></i> 
		<input type="submit" class="btn" value="Clean the database" name="clean_db"> Nettoyage de la base de donn&eacute;es
	</form>
	</div>
	<div>
	<form action="#" method="get">
		<i class="fa fa-eraser fa-border" aria-hidden="true"></i> 
		<input type="submit" class="btn" value="Erase the database" name="erase_db"> Effacement de la base de donn&eacute;es
	</form>
	</div>
	<div>
	<form action="#" method="get">
		<i class="fa fa-eraser fa-border" aria-hidden="true"></i> 
		<input type="submit" class="btn" value="Erase the document clusters" name="erase_clusters"> Effacement des clusters de documents
	</form>
	</div>
</p>
</div>
<div class="evia">
<p>Base de donn&eacute;es graphe </p>
<p style="text-align: center;">
	<div>	
	<form action="#" method="get">
		<i class="fa fa-search fa-border" aria-hidden="true"></i> 
		<input type="submit" class="btn" value="Check the database" name="check_graphdb"> V&eacute;rifier la base de donn&eacute;es graphe
	</form>
	</div>
	<div>	
	<form action="#" method="get">
		<i class="fa fa-shower fa-border" aria-hidden="true"></i> 
		<input type="submit" class="btn" value="Clean the database" name="clean_graphdb"> Nettoyage de la base de donn&eacute;es graphe
	</form>
	</div>
	<div>
	<form action="#" method="get">
		<i class="fa fa-eraser fa-border" aria-hidden="true"></i> 
		<input type="submit" class="btn" value="Erase the database" name="erase_graphdb"> Effacement de la base de donn&eacute;es graphe
	</form>
	</div>
</p>
</div>
</div>
<div class="evia">
<p>Graphe de documents</p>
<p style="text-align: center;">
	<div>	
	<form action="#" method="get">
		<i class="fa fa-search fa-border" aria-hidden="true"></i> 
		<input type="submit" class="btn" value="Check the database" name="check_docgraph"> V&eacute;rifier le graphe des documents
	</form>
	</div>
	<div>
	<form action="#" method="get">
		<i class="fa fa-eraser fa-border" aria-hidden="true"></i> 
		<input type="submit" class="btn" value="Erase the database" name="erase_docgraph"> Effacer le graphe de documents
	</form>
	</div>
</p>
</div>
<p>{{ console_message }}</p>
<div>
	<div  style="display: inline-block;width: 200px;vertical-align: top;">
 		<a href="../graphdesign/">
 			<i class="fa fa-share-alt fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i>
 		</a>
		<p>Recréer le graphe</p>
	</div>
	<div style="display: inline-block;width: 200px;vertical-align: top;">
		<a href="../classif/"><i class=" fa fa-cogs fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"> </i></a>
		<p>Relancer la classification des documents</p>
	</div>
	<div style="display: inline-block;width: 200px;vertical-align: top;">
		<a href="../search/advanced/"><i class=" fa fa-cogs fa-3x fa-search" aria-hidden="true" style=" vertical-align: middle;"> </i></a>
		<p>Recherche avancée</p>
	</div>


</div>
<div style="display: inline-block;vertical-align: top;">
		<a href="../"><i class="fa fa-home fa-3x fa-border" aria-hidden="true"></i></a>
		<p>Retour au menu</p>
</div>
</body>
