<head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<script type="text/javascript">

var loading = "{{ loading }}" 
/** Fonction basculant la visibilité d'un élément dom
* @parameter anId string l'identificateur de la cible à montrer, cacher
*/
function toggle(anId)
{
	node = document.getElementById(anId);
	var currentloading = getQueryVariable(0)
	console.log(currentloading)
	if (node.style.visibility=="hidden")
	{
		// Contenu caché, le montrer
		node.style.visibility = "visible";
		node.style.height = "auto";			// Optionnel rétablir la hauteur
	}
	else
	{
		// Contenu visible, le cacher
		node.style.visibility = "hidden";
		node.style.height = "0";			// Optionnel libérer l'espace
	}
}

function getQueryVariable(variable_place) {
    var query = window.location.search.substring(1);
    var vars = query.split('&');
    var pair = vars[variable_place].split('=');
	return decodeURIComponent(pair[0]);
}
function loading_pdf2txt() {
	if (loading != "pdf2txt") {
		loading = "pdf2txt";
		var currentloading = getQueryVariable(0);
		console.log(currentloading);
		if (currentloading != "run_pdf2txt") {
			toggle('loading_pdf2txt');
		}
	}
}
function loading_make_graph() {
	if (loading != "graph") {
		loading = "graph";
		var currentloading = getQueryVariable(0);
		console.log(currentloading);
		if (currentloading != "make_graph") {
			toggle('loading_make_graph');
		}
	}
}

function loading_run_classify() {
	if (loading != "classify") {
		loading = "classify";
		var currentloading = getQueryVariable(0);
		console.log(currentloading);
		if (currentloading != "run_classify") {
			toggle('loading_run_classify');
		}
	}
}

</script>

</head>

<img src="http://www.eviacybernetics.com/images/Eviacybernetics.png" width="300px"/>
<h1>Bienvenue sur l'interface Evia</h1>
<p>Cliquez pour lancer le processus de classification des documents</p>
<!------------------------------------>
<div>
<form action="#" method="get">
	<input type="submit" class="btn" value="Run pdf2txt" id="run" name="run_pdf2txt" onclick="loading_pdf2txt()">
</form>
</div>
<div id="loading_pdf2txt" style="visibility: hidden;float: right;">
<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
Loading... Please wait. See more info on <a href="outputs/" target="_blank">Show outputs</a>
</div>
<!------------------------------------>
<div>
<form action="#" method="get">
	<input type="submit" class="btn" value="Make the graph" name="make_graph" onclick="loading_make_graph()">
	Threshold value: <input type="text" value="8" name="graph_threshold" size="1"/>
</form>
</div>
<div id="loading_make_graph" style="visibility: hidden;float: right;">
<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
Loading... Please wait. <a href="outputs/" target="_blank">Show outputs</a>.
</div>
<!------------------------------------>
<div>
<form action="#" method="get">
	<input type="submit" class="btn" value="Classify documents" name="run_classify" onclick="loading_run_classify()">
</form>
</div>
<div id="run_classify" style="visibility: hidden;float: right;">
<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
Loading... Please wait. <a href="outputs/" target="_blank">Show outputs</a>.
</div>
<!------------------------------------>
<div>
<form action="#" method="get">
	<input type="submit" class="btn" value="Load classification" name="request_display_csv">
</form>
</div>
<!------------------------------------>
<div>
<form action="#" method="get">
	<input type="submit" class="btn" value="Classification into folders" name="classify_in_folders">
</form>
</div>
<!------------------------------------>
<a href="outputs/" target="_blank">Show outputs</a>
<a href="results/" target="_blank">Show results</a>
<p>Console: {{ var1 }}</p>
<p>Console 2: {{ var2 }}</p>