<head>
	<title>Evia</title>
	<link rel="icon" href="../favicon.ico" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style_links.css' %}" />

<script type="text/javascript">

var loading = "{{ loading }}"
/** Fonction basculant la visibilité d'un élément dom
* @parameter anId string l'identificateur de la cible à montrer, cacher
*/
function toggle(anId)
{
	node = document.getElementById(anId);
	var currentloading = getQueryVariable(0)
	console.log(currentloading)
	if (node.style.visibility=="hidden")
	{
		// Contenu caché, le montrer
		node.style.visibility = "visible";
		node.style.height = "auto";			// Optionnel rétablir la hauteur
	}
	else
	{
		// Contenu visible, le cacher
		node.style.visibility = "hidden";
		node.style.height = "0";			// Optionnel libérer l'espace
	}
}

function getQueryVariable(variable_place) {
    var query = window.location.search.substring(1);
    var vars = query.split('&');
    var pair = vars[variable_place].split('=');
	return decodeURIComponent(pair[0]);
}
function loading_run_classify() {
	if (loading != "classify") {
		loading = "classify";
		var currentloading = getQueryVariable(0);
		console.log(currentloading);
		if (currentloading != "run_classify") {
			toggle('loading_run_classify');
		}
	}
}
</script>

</head>
<body>
<img src="{% static 'images/eviacyberneticsalign.png' %}" width="200px"/>
<h1>Classification des documents</h1>
<!------------------------------------>
<div class="evia">
<div style="display: inline-block;vertical-align: top;">
<p>Cliquez pour lancer la classification automatique</p>
<form action="#" method="get">
	<i class="fa fa-sitemap fa-border" aria-hidden="true"></i> <input type="submit" class="btn" value="Classify documents" name="run_classify" onclick="loading_run_classify()">
</form>
</div>

<div >
<p>Voir messages</p>
<a href="outputs/" target="_blank"><i class="fa fa-list-alt fa-2x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i></a> 
<p>Show outputs</p>
</div>
<!---------------------------------------->
<div id="loading_run_classify" style="visibility: hidden;">
<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Processing...</span>
Processing... Please wait. <a href="outputs/" target="_blank">Show outputs</a>.
</div>
<!------------------------------------>
<p><b> Messages: {{ console_message }}</b></p>
<!------------------------------------>
<h2>Analyse des r&eacute;sultats</h2>
<div style="display: inline-block;width: 200px">
	<a href="groupsOfFiles/"><i class="fa fa-sitemap fa-3x fa-border" aria-hidden="true" style="vertical-align: middle;"></i></a>
	<p>View simple classification</p>
</div>
<div style="display: inline-block;width: 200px">
	<a href="results/">
	<span class="fa-stack fa-2x fa-border">
	<i class="fa fa-sitemap fa-stack-2x" ></i>
	<i class="fa fa-cog fa-stack-lg"  ></i>
	</span>
	</a>
	<p>View detailled classification</p>
</div>
<h2>Navigation</h2>
<div style="display: inline-block;width: 200px">
	<a href="../"><i class="fa fa-home fa-3x fa-border" aria-hidden="true" style="vertical-align: middle;"></i></a>
	<p>Main menu</p>
</div>
</div>
</body>