body {
	/*margin: 20px 100px 20px 100px;*/
	margin: 20px 0 20px 0;
	padding: 0;
	/*position: relative;*/
	width: auto;	
	text-align:center;
	background-color: #FFFFFF;
	min-width: 350px;
}



h1.title {
	/*color: #7a6666;*/
	color: #87CEFA;
	font-family: "Times New Roman", Times, serif;
	font-size: 66px;
	font-weight: normal;
	line-height: 66px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: none;/*uppercase;*/
	font-style: italic;
}

h1 {
	color: #7a6666;
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	font-weight: normal;
	line-height: 36px;
	margin: 0;
	padding: 0 0 10px 0;
	text-align: center;
	text-transform: uppercase;
}

img {
	border: none;
	margin: 0;
	padding: 0 0 0px 0;
}



i.icons {
	color:#87CEFA;
	margin: 10px 20px 10px 10px;
}

p{
	text-align:center;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
}

p.text{
	font-weight: normal;
	font-style: normal;	
	text-align: left;
}
p.emph{
	font-style: italic;
	font-size: 30px;
	line-height: 30px;
}



body div {	
	color: #222222; /*#7A6666;*/
	text-align: center;
	margin: 0 5% 0 5%;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;/*bold;*/
	font-size: 16px;
	line-height: 24px;
	padding: 0;
	overflow: auto;
	text-transform: none;
	width: auto;
	height: auto;

}	

div.imgContainer {
	display:inline-block;
	margin-right:25px;
	margin-left: 25px
}

div#title{
	display: inline-block;
	/*color: #7a6666;*/
	color: #87CEFA;
	font-family: "Times New Roman", Times, serif;
	font-size: 66px;
	font-weight: normal;
	line-height: 72px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: none;/*uppercase;*/
	font-style: italic;
	width:auto;
	height: auto;
	margin-bottom: 3px;
}

body div.top{	
	background-color: #FFFFFF; /*#CCCCCC;*/
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	padding: 40px 5px 40px 5px;

}


body div.intro{
	background-color: #FFFFFF;
	/*background-image: url('../images/graphimgtransp10.png');*/
	background-repeat: no-repeat;

}


body div.expertise{
	background-color: #FFFFFF;
	/*background-image: url('../images/clintonmailstrans20.png');*/
	background-repeat: no-repeat;
}

body div.solutions{	
	background-color: #FFFFFF;
	/*background-image: url('../images/tableautransp20b.png');*/
	overflow: hidden;
	background-repeat: no-repeat;
}

body div.software{
	color: #EEEEEE;/* #7A6666;*/		
	background-color: #FFFFFF;
	background-repeat: no-repeat;
}

body div.about{	
	background-color: #FFFFFF;
	/*background-image: url('../images/montagne1000.jpg');*/
	background-repeat: no-repeat;
}

body div.contact{		
	background-color: #FFFFFF;
	/*background-image: url('../images/montagne1000.jpg');*/
	background-repeat: no-repeat;
}
body div.footer{		
	background-color: #87CEFA; 
	/*background-image: url('../images/montagne1000.jpg');*/
	height:50px;
	background-repeat: no-repeat;
	overflow: hidden;
	border-radius: 30px;/*5px 5px 5px 5px;*/
}


body div.inner {
	padding: 40px 0 40px 0;
	/*margin: 50px 0 50px 0;*/
	/*text-align: left;*/
}

div.box {
	display:inline-block;
	width: 270px;
	height: 360px;
	border: 0px solid gray;
	margin: 10px;
	padding: 10px;	
	border-radius: 5px;
	vertical-align: top;
	/*background-image: linear-gradient(#E5E5E5, #CFCFCF);*/
	background-image: linear-gradient(#FFFFFF, #87CEFA);
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    overflow: hidden;
} 


div.box h2 {
	color: #7a6666;/*#87CEFA;*/
}
div.box p{
	text-align: left;
}


div.button {
	width: 120px;
	height: 30px;
	padding-top: 15px;
	background-image: none;
	background-color: #87CEFA;	
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
}

div.button:hover {
	background-color: #2266ff;
}

nav {
	margin: auto;
	text-align:center;
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
	height: auto;
}
nav ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	background-color: #87CEFA; #d4af37;
}
nav li{
	display: inline-block;	
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	text-align: center;
	line-height: 20px;
}
nav li :hover{
	background-color: #1E90FF;	
	border-radius: 5px;	
}
nav li a{
	display: block;
	text-decoration: none;
	color: #FFFFFF;	
	width: 100px;
	height: 30px;
	padding: 10px 0 0 0;
	margin: 0px;
}


a.smooth {
	color: #7a6666;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
}

/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
