<head>
	<title>Evia</title>
	<link rel="icon" href="../favicon.ico" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}" >
	<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/style_links.css' %}" />
</head>
<body>
<!--<img src="{% static 'images/Eviacybernetics.png' %}" width="300px"/>-->
<img src="{% static 'images/eviacyberneticsalign.png' %}" width="200px"/>
<h1>Weviana vous souhaite la bienvenue</h1>
<p>Weviana version: {{ weviana_version }} <br> Grevia version: {{ grevia_version }}</p>
<div class="evia">
<h2> Ne perdez plus jamais vos documents</h2>

<p>
	<div  style="display: inline-block;width: 200px">
 		<a href="../fileupload/">
 			<i class="fa fa-upload fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i>
 		</a>
		<p>Ajouter des documents pdfs</p>
	</div>
</p>
<!------------------------------------>
<h2> Trouver un document</h2>
<p style="text-align: center;">
	<div style="display: inline-block;width: 200px;vertical-align: top;">
	<a href="classif/groupsOfFiles/"><i class=" fa fa-sitemap fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i></a>
	<p> Affichez les documents classés</p>
	</div>
	<div style="display: inline-block;width: 200px;vertical-align: top;">
	<a href="search/"><i class=" fa fa-search fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i></a>
	<p> Faire une recherche de document avec Eviagle</p>
	 </div>
</p>
<!------------------------------------>
<h2> Options avancées</h2>

	<div style="display: inline-block;width: 200px">
		<a href="advancedsettings/"><i class="fa fa-tasks fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i></a> 
		<p>Advanced Settings</p>
	</div>

</div>
</body>
