<head>
	<title>Evia</title>
	<link rel="icon" href="../favicon.ico" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}" >
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<img src="http://www.eviacybernetics.com/images/Eviacybernetics.png" width="300px"/>
<h1>Evia vous souhaite la bienvenue</h1>
<p>Version: 1.1</p>
<div class="evia">
<h2><i class="fa fa-cogs fa-3x" aria-hidden="true" style=" vertical-align: middle;"></i> Installation et initialisation</h2>
<p>Avant de pouvoir utiliser les outils d'analyse de documents, Evia a besoin d'analyser tous les documents. Pour cela, vous devez lancer l'installation. </p>
<p style="text-align: center;">
	<div>
		<a href="extraction/"><i class="fa fa-tasks fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i></a> 
		<p>Installation</p>
	</div>
</p>
<p>Si vous etes un utilisateur exp&eacute;riment&eacute;, vous pouvez acc&eacute;der aux diff&eacute;rentes &eacute;tapes de l'installation de ind&eacute;pendamment.</p>
<p>
	<div  style="display: inline-block;width: 200px">
 		<a href="../fileupload/">
 			<i class="fa fa-upload fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i>
 		</a>
		<p>Ajouter des fichiers pdfs</p>
	</div>
	<div  style="display: inline-block;width: 200px">
 		<a href="../graphdesign/">
 			<i class="fa fa-share-alt fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i>
 		</a>
		<p>Créer le graphe</p>
	</div>
	<div style="display: inline-block;width: 200px">
		<a href="classif/"><i class=" fa fa-lightbulb-o fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"> </i></a>
		<p>Classifier les documents</p>
	</div>
	<div style="display: inline-block;width: 200px">
		<a href="advancedsettings/"><i class="fa fa-cogs fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i></a> 
		<p>Advanced Settings</p>
	</div>
</p>
<!------------------------------------>
<h2><i class="fa fa-flask fa-3x" aria-hidden="true" style=" vertical-align: middle;"></i> Analyse des documents</h2>
<p style="text-align: center;">
	<div style="display: inline-block;width: 200px;vertical-align: top;">
	<a href="classif/results/"><i class=" fa fa-sitemap fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i></a>
	<p> Affichez la classification</p>
	</div>
	<div style="display: inline-block;width: 200px;vertical-align: top;">
	<a href="search/"><i class=" fa fa-search fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i></a>
	<p> Faire une recherche de mots avec Eviagle</p>
	 </div>
</p>
</div>
</body>
