<head>
	<title>Evia</title>
	<link rel="icon" href="../favicon.ico" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/style_links.css' %}" />
<script type="text/javascript">

var loading = "{{ loading }}"
/** Fonction basculant la visibilité d'un élément dom
* @parameter anId string l'identificateur de la cible à montrer, cacher
*/
function toggle(anId)
{
	node = document.getElementById(anId);
	var currentloading = getQueryVariable(0)
	console.log(currentloading)
	if (node.style.visibility=="hidden")
	{
		// Contenu caché, le montrer
		node.style.visibility = "visible";
		node.style.height = "auto";			// Optionnel rétablir la hauteur
	}
	else
	{
		// Contenu visible, le cacher
		node.style.visibility = "hidden";
		node.style.height = "0";			// Optionnel libérer l'espace
	}
}

function getQueryVariable(variable_place) {
    var query = window.location.search.substring(1);
    var vars = query.split('&');
    var pair = vars[variable_place].split('=');
	return decodeURIComponent(pair[0]);
}
function loading_pdf2txt() {
	if (loading != "pdf2txt") {
		loading = "pdf2txt";
		var currentloading = getQueryVariable(0);
		console.log(currentloading);
		if (currentloading != "run_pdf2txt") {
			toggle('loading_pdf2txt');
			toggle('next_step')
		}
	}
}
</script>

</head>
<body>
<img src="http://www.eviacybernetics.com/images/Eviacybernetics.png" width="300px"/>
<h1>Extraction du texte</h1>
<div class="evia">
<p>Cliquez pour lancer le processus d'extraction de texte</p>
<!------------------------------------>
<div>
<form action="#" method="get">
	<i class="fa fa-file-text-o fa-border" aria-hidden="true"></i> <input type="submit" class="btn" value="Run pdf2txt" id="run" name="run_pdf2txt" onclick="loading_pdf2txt()">
</form>
<p>Weviana va rechercher les fichiers pdf dans le dossier "Documents" et extraire le texte. Ceci est le comportement par défaut. Si vous désirez ajouter d'autres fichiers ou dossiers, <a href="../fileupload/">suivez ce lien</a>.</p>
</div>
<div id="loading_pdf2txt" style="visibility: hidden;">
<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
Loading... Please wait. See more info on <a href="outputs/" target="_blank">Show outputs</a>
</div>
<div>
<a href="outputs/" target="_blank"><i class="fa fa-list-alt fa-2x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i></a> 
<p>Show outputs</p>
</div>
<p><b> Messages: {{ console_message }}</b></p>
<h2>Navigation</h2>
<div  >
 <a href="../graphdesign/"><i class="fa fa-arrow-circle-right fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i></a>
<p>Go to the next step<br>Design the graph of words</p>
</div>
</div>
</body>