<head>
	<title>Evia</title>
	<link rel="icon" href="../favicon.ico" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


</head>
<body>
<img src="http://www.eviacybernetics.com/images/Eviacybernetics.png" width="300px"/>
<h1>Installation de Weviana</h1>
<div class="evia">
<h2>Etape 1: Archivage des documents</h2>
<p>La première étape consiste à selectionner les documents que Weviana va analyser. Pour se faire, cliquez sur l'icone ci-dessous.</p>
<!------------------------------------>
<div  >
	<a href="../fileupload/"><i class="fa fa-upload fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i></a>
	<p>S&eacute;lectionner les fichiers à analyser</p>
</div>
<h2>Navigation</h2>
<div  >
 <a href="../graphdesign/"><i class="fa fa-arrow-circle-right fa-3x fa-border" aria-hidden="true" style=" vertical-align: middle;"></i></a>
<p>Prochaine &eacute;tape<br>Cr&eacute;ation du graphe de mots</p>
</div>
</div>
</body>